* {
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    width: 80vw;
    height: 100vh;
}
.flex-container{
    display: flex;
    width: 80vw;
    height: 100vh;
}
.article {
    width: 50%;
    height: 50%;
    margin: 10px;
}
#right-collum{
    background-color: gray;
}
#left-collum{
    background-color: aquamarine;
}